<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "Edit Post", edit_post_path(post) %>
  <%= link_to "Delete Post", post, method: :delete %>
<% end %>
